<div class="social-wrapper">
	<a class="social" href="">
		{% include icon-gumroad.svg %}
		<div class="slash-wrapper">
			<div class="slash"></div>
		</div>
		<div>
			<b>	
				Gumroad/@corbbin
			</b>
		</div>
	</a>
	<a class="social" href="">
		{% include icon-youtube.svg %}
		<div class="slash-wrapper">
			<div class="slash"></div>
		</div>
		<div>
			<b>	
				YouTube/@corbbing
			</b>
		</div>
	</a>

</div>

<style type="text/css">

.social-wrapper {
	padding: 10px 0px;
	display: grid;
	gap: 5px;
}

.social {
	display: flex;
	background: #F8F3C7;
	align-items: center;
	justify-items: stretch;
	padding: 0px 10px;
	border-radius: 10px;
	text-decoration: none;
	color: black;
}

.slash-wrapper {
	display: flex;
	padding: 5px;
	height: 40px;
}

.slash {
	border: .5px solid black;
	rotate: 8deg;
}
</style>
